/* ==========================================================================
   #REGLE GENERALE
   ========================================================================== */


* {

  font-family: Arial, Helvetica, sans-serif;

}

html {

  overflow: auto;
  background-image: url(../IMG/background.jfif);

}


/* ==========================================================================
   #TITRE
   ========================================================================== */


h1 {

  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  display:block;
  margin: 10px;
  text-decoration: underline;

}

h2{

  text-align: center;
  margin: 10px;
  font-weight: bolder;
  text-decoration: underline;

}


/* ==========================================================================
   #FORMULAIRE
   ========================================================================== */

form {

  border-radius: 1em;
  width: 485px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
  float: left;
  border: 1px solid rgb(0, 0, 0);

}

input,textarea,select {

  font-size: 15px;

}



label.labelForm {

  font-weight: bolder;
  font-size: 16px;
  display: inline-block;

}


form div+div {

  margin-top: 1.5em;

}

textarea {

  vertical-align: top;
  height: 150px;
  width: 250px;
  overflow: auto;
  margin-left: 21px;

}


.buttonForm {

  width: 175px;
  float: right;

}

input {
  height: 14px;
  float: right;
  width: 250px;

}

select#prodInput,input#quantInput {

  float: right;
  width: 200px;

}


/* ==========================================================================
   #ZONEPROMO
   ========================================================================== */

#promo {

  border: 1px solid rgb(0, 0, 0);
  border-radius: 1em;
  display: inline-block;
  margin-left: 15%;
  margin-top: 10px;
  padding: 10px;
  width: 35%;

}

div#textPromo {

  font-size: 20px;
  font-weight: normal;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;

}


#titrePromo {

  font-size: 25px;
  font-weight: bolder;
  text-align: center;

}


/* ==========================================================================
   #tableau
   ========================================================================== */


table,th,td {

  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;

}

 table#tablePrincipale {

  display: table;
  width: 95%;

}


td {

  height: 20px;

}

th#nomTableau {

  width: 5%;

}

th#PrenomTableau {

  width: 5%;

}

th#numeroTvaTableau {

  width: 6%;
}

th#adresseTableau {

  width: 20%;

}

th#mailTableau {

  width: 20%;

}

th#produitTableau {

  width: 5%;

}

th#quantiteTableau {

  width: 5%;

}

th#prixTableau {

  width: 5%;

}

th#infoTableau {

  width: 24%;

}

th#supprTableau {
  width: 5%;
}

#prixTotal {

  font-size: normal;
  font-weight: bolder;
  width: 300px;
  float: right;
  text-align: center;
  background-color: white;
  margin-right: 2.5%;

}

td {

  background-color: white;

}

#total {

  font-size: normal;
  font-weight: bolder;
  color: red;

}

/* ==========================================================================
   #tableau DES PRIX
   ========================================================================== */

table#tableauPrix {

  width: 55%;
  height: 380px;
  margin: 10px 0px 20px 120px;
  float:left;

}

/* ==========================================================================
   IMAGE
   ========================================================================== */

img#imageGithub {

  width: 70px;
  height: 70px;
  float: left;

}


/* ==========================================================================
   BACKGROUND COLOR
   ========================================================================== */

form,#promo,th {

  background-color: rgb(255, 241, 47);

}

/* ==========================================================================
   MESSAGE ERREUR
   ========================================================================== */

div.messageErreur {

  float: left;
  font-size: 15px;
  color: red;
  font-weight: bolder;
  margin-top: 2px;
  margin-left: 10px;
  margin-bottom: 2px;

}