/* ==========================================================================
   #REGLE GENERALE
   ========================================================================== */


* {

  font-family: Arial, Helvetica, sans-serif;  

}

html{

  overflow: auto;
  background-image: url(../IMG/background.jfif);
  text-align: center;

}


/* ==========================================================================
   #TITRE
   ========================================================================== */


h1#titre {

  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  display: inline-block;
  margin:10px;

}


h2{

  text-align: center;
  margin:5px

}


/* ==========================================================================
   #FORMULAIRE
   ========================================================================== */


input,textarea {

  font-size: 15px;

}

input {

  height: 20px;
  width: 250px;

}

form div .labelForm{

  font-weight: bolder;
  display:inline-block;
  width: 225px;
  
}


form {

  border-radius: 1em;
  width: 510px;
  height: 510px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 10px;
  float: left;
  text-align: left;
  border: 1px solid rgb(0, 0, 0);

}
  
form div + div {

  margin-top: 0.5em;

}
  
textarea {

  vertical-align: top;
  height: 150px;
  width: 250px;
  overflow: auto;
  background-color: rgb(255, 255, 255);

}
  

select{

  width: 150px;

}


span#kilogrammes{

  font-size: normal;

}


input#quantInput{
  width: 150px;
}


input,button{

  cursor: pointer;

}

input#envoye,input#reset {

  width: 200px;
  margin-left: 30px;
  margin-top: 5px;

}

/* ==========================================================================
   #ZONEPROMO
   ========================================================================== */
  
#promo{

  display: inline-block;
  width: 1200px;
  height: 150px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1em;
  margin-left: 40px;

}

div#textPromo{

  margin-left: 150px ;
  font-size: 20px;
  font-weight: normal;
  text-align: left ;

}


#titrePromo{ 

  font-size: 30px ;
  font-weight: bolder ;
  text-align: center ;

}


/* ==========================================================================
   #tableau
   ========================================================================== */


table, th, td {

  border:1px solid black;
  text-align: center;
  border-collapse: collapse;

}

div#tableauInfo table {

  display: table;
  width: 99%;

}


td{

  height: 20px;

}

th#nomTableau{

 width: 7%;

}

th#PrenomTableau{

  width: 7%;
  
}

th#numeroTvaTableau{

  width: 6%;
}

th#adresseTableau{

  width: 17%;

}

th#mailTableau{

  width: 17%;

}

th#produitTableau{

  width:10% ;

}

th#quantiteTableau{

  width: 10%;

}

th#prixTableau{

  width:5% ;

}

th#infoTableau{

  width:16%;

}

th#supprTableau{
  width: 5%;
}

#prixTotal {

  font-size: normal ;
  font-weight: bolder;
  width: 400px;
  float: right;
  text-align: center;
  border: 1px solid black;

}

#total{

  font-size: normal ;
  font-weight: bolder;
  color: red;

}

td{

  background-color:white;

}

/* ==========================================================================
   #tableau DES PRIX
   ========================================================================== */

table#tableauPrix{

  width: 1000px;
  height: 380px;
  float: right;
  margin-top: 10px;
  margin-right: 150px;
  margin-bottom: 10px;

}

/* ==========================================================================
   IMAGE
   ========================================================================== */

img#imageGithub{

  width: 70px;
  height: 70px;
  float: left;

}


/* ==========================================================================
   BACKGROUND COLOR
   ========================================================================== */

form, #promo,th {

  background-color: rgb(255, 241, 47);

}

/* ==========================================================================
   MESSAGE ERREUR
   ========================================================================== */

   #messageErreur{

    display: block;
    font-size: 12px;
    color: red;

   }
